.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App-logo1{
      padding-left: 0vw;
    }
    
    /* .App-logo2 {
  
    } */
    .add-moodle-input{
     outline: none;
     border: 1px solid #356680;
     border-radius: 10px;
     width: 15vw;
     height: 4vh;
     margin-bottom: 15px;
     padding: 2px;
     color: white;
     background-color: #283A46;
     

    }

    .add-moodle-tag{
      font-size: 15px;
    padding-bottom: 14px;
    margin-top: 15px;
    color: #97A1A9;
    }
    
    #dialog{
      background-color: #2C404E;
      color: #C0C6CA;
    }
    #tex{
      color: #FF5E5E;
    }
    #b5{
      width: 100px;
      border: 1px solid #14AFF1;
      border-radius: 10px;
      opacity: 1;
      margin-left: 20px;
      padding: 0.9em;
      font-size: medium;
      background: #273D49CC 0% 0% no-repeat padding-box;
      color: #FFFFFF; }
